<f:layout name="SystemEmail" />

<f:section name="Title">{headline}</f:section>

<f:section name="Main">
    <h3>
        <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:lockout.caption"/>
    </h3>

    <p>
        <f:translate arguments="{0: '{data.user.lockMinutesInterval}'}" key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:lockout.caption_description"/>

        <f:cache.disable>
            <a href="{data.user.unlockActionUrl}" class="es-button" target="_blank">
                <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:lockout.button_unlock"/>
            </a>
        </f:cache.disable>
        <br/>
    </p>

    <p>
        <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:lockout.help"/>
    </p>
</f:section>