<f:layout name="Email"/>

<f:section name="Header">
    <img src="{f:uri.image(src: '{email.logoPath}', absolute: 1)}" class="logo" width="250"/>
</f:section>

<f:section name="Main">
    <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#fcfcfc">

        <tr>
            <td class="es-m-txt-c" align="center">
                <h2>
                    <strong>
                        <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:login.caption"/>
                    </strong>
                </h2>
            </td>
        </tr>

        <tr>
            <td class="es-m-txt-l" bgcolor="transparent" align="left">
                <span>
                    <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:login.caption_description" arguments="{0: user.username}"/>
                </span>
            </td>
        </tr>

        <tr>
            <td width="560" valign="top" align="center" class="info-wrapper">
                <f:render section="RequestInformation" arguments="{_all}"/>
            </td>
        </tr>

    </table>
</f:section>

<f:section name="RequestInformation">
    <table class="request-info" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">

        <tr>
            <td align="center">
                <h3 class="request-header">
                    <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:login.information_header"/>
                </h3>
            </td>
        </tr>

        <tr>
            <td align="left">
                <p>
                    <strong>
                        <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:login.agent"/>:
                    </strong>
                    {request.HTTP_USER_AGENT}
                </p>
                <p>
                    <strong>
                        <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:login.ip"/>:
                    </strong>
                    {request.REMOTE_ADDR}
                </p>
                <p>
                    <strong>
                        <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:login.time"/>:
                    </strong>
                    <f:format.date format="d.m.Y - H:i:s">
                        {request.REQUEST_TIME}
                    </f:format.date>
                </p>
            </td>
        </tr>

        <tr>
            <td class="es-m-txt-c" align="center">
                <span class="es-button-border">
                    <f:cache.disable>
                        <a href="{user.forgotPasswordFormUrl}" class="es-button" target="_blank">
                            <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:login.button_change_password"/>
                        </a>
                    </f:cache.disable>
                </span>
            </td>
        </tr>

    </table>
</f:section>

<f:section name="Footer">
    <f:format.raw>
        <f:translate arguments="{0: '{email.site}'}" key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:common.signature"/>
    </f:format.raw>
</f:section>
