<f:layout name="SystemEmail" />

<f:section name="Title">{headline}</f:section>

<f:section name="Main">
    <h3>
        <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:magic_link.caption" arguments="{0: data.request.user.username}"/>
    </h3>

    <p>
        <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:magic_link.caption_description"/>

        <a href="{data.request.url -> f:format.raw()}" target="_blank" >
            <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:magic_link.login_action"/>
        </a>
        <br/>
    </p>

    <p>
        <f:translate arguments="{0: '{data.request.expires}'}" key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:magic_link.expire"/>
    </p>
</f:section>