{namespace be = TYPO3\CMS\Backend\ViewHelpers}

<f:layout name="Default" />

<f:section name="Content">

    <f:render partial="Filters/User/Index" arguments="{demand: demand, groups: groups}" />

    <f:be.widget.paginate objects="{users}" as="paginatedUsers" configuration="{itemsPerPage: 50, insertBelow: 1}">
        <div class="table-fit">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th class="col-title">
                            <f:translate key="userName" extensionName="beuser"/> / <f:translate key="realName" extensionName="beuser"/>
                        </th>
                        <th>
                            <f:translate key="lastLogin" extensionName="beuser"/>
                        </th>
                        <th class="col-control"></th>
                    </tr>
                </thead>

                <tbody>
                    <f:for each="{paginatedUsers}" as="user">
                        <f:render partial="User/PaginatedList" arguments="{_all}" />
                    </f:for>
                </tbody>
            </table>
        </div>
    </f:be.widget.paginate>

</f:section>
