<f:layout name="Email"/>

<f:section name="Header">
    <img src="{f:uri.image(src: '{email.logoPath}', absolute: 1)}" class="logo" width="250"/>
</f:section>

<f:section name="Main">
    <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#fcfcfc">

        <tr>
            <td class="es-m-txt-c" align="center">
                <h2>
                    <strong>
                        <f:translate key="LLL:EXT:login/Resources/Private/Language/email.xlf:update_password.caption"/>
                    </strong>
                </h2>
            </td>
        </tr>

        <tr>
            <td class="es-m-txt-l" bgcolor="transparent" align="left">
                <span>
                    <f:translate key="LLL:EXT:login/Resources/Private/Language/email.xlf:update_password.caption_description"/>
                </span>
            </td>
        </tr>

        <tr>
            <td align="center" class="es-m-txt-c">
                <span class="es-button-border">
                     <a href="{user.forgotPasswordFormUrl -> f:format.raw()}" class="es-button" target="_blank" >
                        <f:translate key="LLL:EXT:login/Resources/Private/Language/email.xlf:update_password.button_restore"/>
                    </a>
                </span>
            </td>
        </tr>

        <tr>
            <td class="es-m-txt-l" bgcolor="transparent" align="left">
                <span>
                    <f:translate arguments="{0: '{request.expires}'}" key="LLL:EXT:login/Resources/Private/Language/email.xlf:update_password.other_case"/>
                </span>
            </td>
        </tr>

    </table>
</f:section>

<f:section name="Footer">
    <f:format.raw>
        <f:translate arguments="{0: '{email.site}'}" key="LLL:EXT:login/Resources/Private/Language/email.xlf:common.signature" />
    </f:format.raw>
</f:section>
