<f:layout name="SystemEmail" />

<f:section name="Title">{headline}</f:section>

<f:section name="Main">
    <h3>
        <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:update_password.caption"/>
    </h3>

    <p>
        <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:update_password.caption_description"/>

        <f:cache.disable>
            <a href="{data.user.forgotPasswordFormUrl}" class="es-button" target="_blank" >
                <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:update_password.button_restore"/>
            </a>
        </f:cache.disable>
        <br/>
    </p>

    <p>
        <f:translate arguments="{0: '{data.request.expires}'}" key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:update_password.other_case"/>
    </p>
</f:section>