<f:layout name="SystemEmail" />

<f:section name="Title">{headline}</f:section>

<f:section name="Main">
    <h3>
        <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:reset_password.caption"/>
    </h3>

    <p>
        <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:reset_password.caption_description"/>

        <a href="{data.request.url -> f:format.raw()}" class="es-button" target="_blank">
            <f:translate key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:reset_password.button_reset"/>
        </a>
        <br/>
    </p>

    <p>
        <f:translate arguments="{0: '{data.request.expires}'}" key="LLL:EXT:flogin/Resources/Private/Language/email.xlf:reset_password.expire"/>
    </p>
</f:section>
